<header th:fragment="title(value, role)">
    <img src="../../img/arrow.png" id="img-left" alt="Menu">
    <span id="span-left" th:text="${value}"></span>
    <span id="span-right" th:text="${'Jean Michel' + role}"></span>
    <img src="../../img/logout.png" id="img-right" alt="Deconnexion">
    
    <ul class="box-shadow">
        <a href="/Utilisateurs/Ajouter"><li>Users</li></a>
		<a href="/Fiches"><li>Fiches</li></a>
        <a href="/Pieces/Ajouter"><li>Pièces</li></a>
        <a href="/CommandesVoiture"><li>Commandes Voiture</li></a>
        <a href="/Clients/Ajouter"><li>Clients</li></a>
    </ul>
</header>