<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head th:replace="fragments/head.html :: title(value='Liste des utilisateurs')"></head>
<body>
	<header th:replace="fragments/header.html :: title(value='Liste des utilisateurs')"></header>
    
    <section>
        <div class="container">
           <div class="block-container">
               <h3 class="h-center" th:text="${action + ' d''un utilisateur'}"></h3>
           	   <div class="col" th:if="${action == 'Ajout'}">
           	       <form action="#" method="post" th:action="@{/Utilisateurs/Ajouter}" th:object="${userAdd}">
           	       		<label for="nom">Nom :</label>
						<input class=""	type="text" th:field="*{nom}" id="nom" placeholder="Nom">
						<label for="prenom">Prénom :</label>
						<input class="" type="text" th:field="*{prenom}" id="prenom" placeholder="Prénom">
						<label for="pseudo">Pseudo :</label>
						<input class="" type="text" th:field="*{user}" id="pseudo" placeholder="Pseudo">
						<label for="password">Mot de passe :</label>
						<input class="" type="password" th:field="*{password}" id="password">
						
						<select class="" th:field="*{roles}" id="roles" multiple>
							<option th:each="role : ${possibleRoles}" th:value="${{role}}" th:text="${role.fonction}"></option>
						</select>
						
						<button type="submit" class="btn btn-primary">Envoyé</button>
					</form>
           	   </div>
           	   <h3 class="h-center">Liste des utilisateurs</h3>
               <div class="col list">
                   <div class="row thead">
                       <span class="col-md-2">Nom</span>
                       <span class="col-md-2">Prénom</span>
                       <span class="col-md-2">Pseudo</span>
                       <span class="col-md-1">Compte désactivé</span>
                       <span class="col-md-1">Accès appli.</span>
                       <span class="col-md-2">Rôles</span>
                       <span class="col-md-2">Modification</span>
                   </div>
                   
                   <div th:if="${action == 'Modification'}">
                       <form class="row line" action="#" method="post" th:action="@{/Utilisateurs/Modifier}" th:object="${userModif}">
                       	   <input type="hidden" th:field="*{id}" th:value="*{id}"/>
                           <span class="col-md-2"><input type="text" th:field="*{nom}"></span>
                           <span class="col-md-2"><input type="text" th:field="*{prenom}"></span>
                           <span class="col-md-2"><input type="text" th:field="*{user}"></span>
                           <input type="hidden" th:field="*{password}">
                           <span class="col-md-1"><input type="checkbox" th:checked="*{desactiveUser}" th:value="${desactiveUser}"></span>
                           <span class="col-md-1"><input type="checkbox" th:checked="*{desactiveAngular}" th:value="${desactiveAngular}"></span>
                           
						   <span class="col-md-2"><select class="" th:field="*{roles}" id="roles" multiple>
							   <option th:each="role : ${possibleRoles}" th:value="${{role}}" th:text="${role.fonction}"></option>
						   </select></span>
						   
	                       <span class="col-md-2"><button type="submit" class="btn btn-success">Valider</button></span>
                       </form>
                   </div>
                   
                   <div class="row line" th:each="user : ${ listUser }">
                       <span class="col-md-2" th:text="*{user.nom}"></span>
                       <span class="col-md-2" th:text="*{user.prenom}"></span>
                       <span class="col-md-2" th:text="*{user.user}"></span>
                       <span class="col-md-1" th:text="*{user.desactiveUser}"></span>
                       <span class="col-md-1" th:text="*{user.desactiveAngular}"></span>
                       <span class="col-md-2">
                           <span class="badge" th:each="role : ${ user.roles }" th:text="*{role.fonction}" th:classappend="*{'badge-' + role.fonction}"></span><br>
                       </span>
                       <span class="col-md-2"><a th:href="@{ /Utilisateurs/Modifier/{id}(id=${user.id}) }" class="btn btn-warning">Modifier</a></span>
                   </div>
               </div>
           </div>
        </div>
    </section>
</body>
</html>