<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head th:replace="fragments/head.html :: title(value='Liste des utilisateurs')"></head>
<body>
	<header th:replace="fragments/header.html :: title(value='Liste des utilisateurs')"></header>
    
    <section>
        <div class="container">
           <div class="block-container">
               <div class="col list">
                   <div class="row thead">
                       <span class="col-md-2">Nom</span>
                       <span class="col-md-2">Prénom</span>
                       <span class="col-md-2">Pseudo</span>
                       <span class="col-md-2">Compte désactivé</span>
                       <span class="col-md-2">Accès appli.</span>
                       <span class="col-md-2">Modification</span>
                   </div>
                   
                   <div class="row line" th:each="user : ${ listUser }">
                       <span class="col-md-2" th:text="*{user.nom}"></span>
                       <span class="col-md-2" th:text="*{user.prenom}"></span>
                       <span class="col-md-2" th:text="*{user.user}"></span>
                       <span class="col-md-2" th:text="*{user.desactiveUser}"></span>
                       <span class="col-md-2" th:text="*{user.desactiveAngular}"></span>
                       <span class="col-md-2"><button class="btn btn-warning">Modifier</button></span>
                   </div>
               </div>
           </div>
        </div>
    </section>
</body>
</html>