<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head th:replace="fragments/head.html :: title(value='Liste des fiches')"></head>
<body>
	<header th:replace="fragments/header.html :: title(value='Liste des fiches')"></header>
	
	<section>
		<div class="container">
			<div class="block-container">
				<h3 class="h-center">Liste des fiches d'entretien</h3>
				<div class="col list">
					<div class="row thead">
						<span class="cell col-md-1">Numéro de fiche</span>
                        <span class="cell col-md-3">Description</span>
                        <span class="cell col-md-2">Date de création</span>
                        <span class="cell col-md-2">Date de validation</span>
                        <span class="cell col-md-2">Niveau de priorité</span>
                        <span class="cell col-md-2">Fiche terminée</span>
					</div>
					
					<div class="row line" th:each="fiche : ${ listFiche }">
						<span class="cell col-md-1" th:text="*{fiche.id}"></span>
                        <span class="cell col-md-3" th:text="*{fiche.description}"></span>
                        <span class="cell col-md-2" th:text="*{fiche.dateCreation}"></span>
                        <span class="cell col-md-2" th:text="*{fiche.dateValidation}"></span>
                        <span class="cell col-md-2">
						<span class="badge" th:text="*{fiche.niveauPriorite}" th:classappend="*{'badge-' + fiche.niveauPriorite}"></span>
						</span> 
						<span class="cell col-md-2">
							<form action="#" method="post" th:action="@{/Fiches}" th:object="${ficheForm}">
								<input type="hidden" th:field="*{id}" th:value="*{id}"/>
								<button type="submit" class="btn btn-success">Clôturer</button>
							</form>
						</span>
						
						<div class="row offset-1 tache box-shadow" th:each="tache, status : ${ fiche.taches }">
							<span class="cell col-md-1" th:text="${'Tache ' + status.count}"></span>
							<span class="cell col-md-4" th:text="*{tache.description}"></span>
							<span class="cell col-md-2" th:text="*{tache.dateCreation}"></span>
							<span class="cell col-md-2" th:text="*{tache.dateFinTache}"></span>
							<span class="cell col-md-2" th:text="*{tache.etatTache}"></span>
							<span class="cell col-md-2">
							<span class="badge" th:text="*{tache.niveauPriorite}" th:classappend="*{'badge-' + tache.niveauPriorite}"></span>
							</span>
                		</div>
					</div>
					
				</div>
			</div>
		</div>
    </section>

</body>
</html>
