<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
	<meta charset="UTF-8">
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="global.css">
</head>
<body>
	<header>
        <img src="img/arrow.png" id="img-left" alt="Menu">
        <span id="span-left">Liste des fiches</span>
        <span id="span-right">Jean Michel - Chef d'atelier</span>
        <img src="img/logout.png" id="img-right" alt="Deconnexion">
        
        <ul class="box-shadow">
            <a href=""><li>Fiches</li></a>
            <a href="listeStock.html"><li>Stock</li></a>
            <li>Onglet 3</li>
        </ul>
    </header>
    
    <section>
        <div class="container">
           <div class="block-container">
               <div class="col user">
                   <div class="row thead">
                       <span class="col-md-2">Nom</span>
                       <span class="col-md-2">Prénom</span>
                       <span class="col-md-2">Pseudo</span>
                       <span class="col-md-2">Compte activé</span>
                       <span class="col-md-2">Accès appli.</span>
                       <span class="col-md-2">Modification</span>
                   </div>
                   
                   <div class="row line" th:each="user : ${ listUser }">
                       <span class="col-md-2" th:text="*{user.nom}"></span>
                       <span class="col-md-2" th:text="*{user.prenom}"></span>
                       <span class="col-md-2" th:text="*{user.user}"></span>
                       <span class="col-md-2" th:text="*{user.desactiveUser}"></span>
                       <span class="col-md-2" th:text="*{user.desactiveAngular}"></span>
                       <span class="col-md-2"><button class="btn btn-warning">Modifier</button></span>
                   </div>
               </div>
           </div>
        </div>
    </section>
</body>
</html>