<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head th:replace="fragments/head.html :: title(value='Modification')"></head>
<body>
	<header th:replace="fragments/header.html :: title(value='Modification')"></header>
    
    <section>
        <div class="container">
           <div class="block-container">
              
           	  
           	  
                   <div th:if="${action == 'Modification'}">
                       <form class="row line" action="listCommandeVoiture" method="post" th:action="@{/CommandeVoiture/Modifier}" th:object="${CommandeModif}">
                       	   <input type="hidden" th:field="*{id}" th:value="*{id}"/>
                           <span  class="col-md-2"><input type="hidden" th:field="*{dateCommande}"></span>
                           <span class="col-md-2"><input type="text" th:field="*{dateReception}"></span>
                           <span class="col-md-2"><input type="hidden" th:field="*{quantite}"></span>
                           <input type="hidden" th:field="*{dateCloture}">
                          <span class="col-md-2"><input type="hidden" th:field="*{voiture.id}"></span>
                          <input type="hidden" th:field="*{utilisateur.id}">
                           <input type="hidden" th:field="*{devis.id}">
                          <span class="col-md-2"><button type="submit" class="btn btn-success">Valider</button></span>
                       </form>
                   </div>
                   
                   
               </div>
           </div>
       
    </section>
</body>
</html>